
#container {
    width: 240px;
    height: 390px;
    border: 2px solid black;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

}

#display {
    width: 240px;
    height: 90px;
    margin: 0 0;
    background-color: aquamarine;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
    height: 300px;

}

button {
    width: 60px;
    height: 60px;
    margin-top: 0;
}

#zero-button {
    width: 120px;
    height: 60px;
}